# misc
.vscode/
.nvm
.Trashes
*.log
*.iml
*.jsbundle


# Server
node_modules/
coverage/
npm-debug.log
package-lock.json


# Client
client/node_modules/
client/coverage/
client/.nvm
client/npm-debug.log
client/package-lock.json
