# misc
.vscode/
.nvm
.Trashes
*.log
*.iml
*.jsbundle


# Client
client/node_modules/
client/coverage/
client/.nvm
client/npm-debug.log
client/package-lock.json


# Server
server/node_modules/
server/coverage/
server/.nvm
server/npm-debug.log
server/package-lock.json
